



body{

background-color: #1C1C1C;
 
background-position: top center;

 
}







@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}



.h12 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 35px;
  font-weight: 999;
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}





.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.botaoPlatina{
  margin: 3px;
}
#espacoContato{
  margin-left: -18px;
  

}


.espacoLi{
  padding-top: 4px;
}


#imgPagamento{
  margin-right:10px;
  margin-left: 10px;
}
#imgPagamento:hover{
  background-color: white;
  padding: 2px;
}

/* MENU do unlock all, dropdown menu que aparece opcoes da NAVBAR bootstrap*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #343a40;
    background-clip: padding-box;
    border: 4px solid /*rgba(0,0,0,.15)*/;
    border-radius: .25rem;
}

/* os itens do dropdown da navbar, os textos, etc, fundo*/
.dropdown-item {
    display: block;
    width: 90%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 16px;
    text-align: center justify-content;
    color: white;
    text-align: inherit;
    background-color: transparent;
    white-space: nowrap;
    border: 0;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;

    }

.dropdown-item:hover {
    display: block;
    width: 90%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 17px;
    color: #ffffe6;
    text-align: inherit;
    background-color: red;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;

    }


/* mudando o estilo padrão da navbar do bootstrasp*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #f0ffea;
    text-shadow: currentColor;
    font-size: 18px;
    font-style: unset;

}
/* com hover a navbar do bootstrap padrao*/
.navbar-dark:hover .navbar-nav:hover .active:hover>.nav-link:hover, .navbar-dark:hover .navbar-nav:hover .nav-link.active:hover, .navbar-dark:hover .navbar-nav:hover .nav-link:hover.show:hover, .navbar-dark:hover .navbar-nav:hover .show:hover>.nav-link:hover {
    color: white;
    text-shadow: currentColor;
    font-size: 19px;
    font-style: unset;
    background:#0c598e  ;


}

.navbar .current{
  background-color: #0082da;
}

.bg-dark {
    background-color: #343a40!important;
}


.textoNav{
	color: blue;
	border-color: blue;
	outline-color: blue;
}

.jumbotron{
  border-color: #151719;;
  border-width: 1px;
  border-style: solid;
  background-color: #DAF7A6;
  background-color: #D0D3D4;

}


.fab{
  font-size: 30px;
  opacity: 0.6;
  margin-left: 1px;
  margin-right:1px;
}

.navFab{
  font-size: 25px;
}

.pagFundo{
  opacity: 2.5;
}

.fundo{
  border: solid black 1px;
  border-radius: 70px 70px 70px 70px;
}

.fab:hover {
    opacity: 0.7;
    font-size: 35px;
}


table{
  overflow: scroll;   /* Sempre aparece a barra de rolagem */
  overflow: auto;     /* Automaticamente verifica se precisa da barra */
}
#v-pills-home-tab{
	display: ;
}

.pagamento{
	list-style-position: inside;
}
.pagamentoMP{
  padding-bottom: 8px;
}

.jumbPlatina{
	display: block;
	margin-left: 2px;
	min-width: 50px;

}

.jumbValorBo3{
		display: grid;
	margin-left: 2px;
	min-width: 20px;
}


.espacoRespostaDuvida{
    
   margin-left: 17px;
  
   overflow: auto;
}

.preco{
	text-decoration-color: all;
	color: green;
	font-style: oblique;
	font-size: 18px;
	font-weight: bold;

}

.botoes{
	margin: 2px;
}


.margemBotao{

	margin: 15px;
	width: 100px;
}

/*
essa 
, é a nav do body, de perguntas da platina e unlock all, ajustar o hover azul no celular
*/
.navBody{
	display:flex;
	margin-left: 2px;
	min-width: 90px;
}

.navBody:hover{
  display:flex;
  margin-left: 2px;
  min-width: 90px;
  color:red;
  font-size: 17px;
}


.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;

}
/*
Tamanho e edição dos carrosels, como usei id, tem q fazer pra cada carrosel, certo é usar classe, ai só poe virgula
*/
#fotoconta{
		min-height: 400px;

	height: 520px;
	margin: 0px;

}

#carrossel{
width: 90%;
margin: auto;
}

#carrossels{
width: 90%;
margin: auto;
}

#carrossels2{
width: 90%;
margin: auto;
}

#carrossels3{
width: 90%;
margin: auto;
}
#carrossels4{
width: 90%;
margin: auto;
}
#carrossels5{
width: 90%;
margin: auto;
}


.carousel-control-prev-icon{
	color: red;
}

#carouselExampleIndicators{

width: 90%;
margin: auto;
}
#carouselExampleIndicators:hover{

width: 94%;
margin: auto;
}


.row{
	margin-right: 1px;
}

#navDoMeio{

/*float:left;*/
display: inline-flex;
padding: 10px;
margin: 0px;


}

.dia{
  display: inline-block;
}
.imypst{
  padding: 5;
  margin: 10;
}


#mypst{
  background-color: white;
}

.margemPs4{
  margin: 2px;
}
#embaixo{
margin-top: 10px;
}

h1, h4 {
  text-align: center;
  alignment-baseline: center;
  font-family: 'Oswald', Helvetica, sans-serif;

  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey

}

.card{
	width: 300px;
	height: 100%;
	margin: 5px;

	display: inline-block;
	align-content: center;
	text-align: center;
	float: none;
	margin-bottom: 3px;
  border: solid black 1px;
  overflow: hidden;

}



#comentario{
	margin-left: 40px;
	margin-right: 40px;

}

#pagamento{
	margin-left: 4px;
	margin-right: 4px;

}




.alert{

line-height: 18px;
size: 0.1;


}

.card-img-top{
	
	object-fit: cover;
	margin: 14px;
	width: 80%;
    height: 80%;
    display: flex;
	display: inline-block;
 

}

.img-thumbnail{
max-height: 200px;
max-width: 200px;
min-height: 200px;
min-width: 200px;

}

.card-text{
	text-align: left;
	margin: 5px;
}


a{
	margin: 10px;
}
.cartao{
	text-align: center;
	
}



.bordaCartao{
  border: 2px solid blue;
}




@media only screen and (max-width: 767px) {
   .fb-comments {
    width: 100% !important;
   }
.fb-comments iframe[style] {
   width: 100% !important;
  }
.fb-like-box {
   width: 100% !important;
  }
.fb-like-box iframe[style] {
   width: 100% !important;
  }
.fb-comments span {
   width: 100% !important;
  }
.fb-comments iframe span[style] {
   width: 100% !important;
  }
.fb-like-box span {
   width: 100% !important;
  }
.fb-like-box iframe span[style] {
   width: 100% !important;
  }
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.titulo{
	text-align: center;
}

.foto{
	max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;

}

.btn-success{
  margin-left: 3px;
  margin-top: 2px;
}
h1, h4 {
  text-align: center;
  alignment-baseline: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 50px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey

}

#titulos{
	font-size: 30px;
}

.corLink{
  color:#0572e7 ;
}

.imgs{
	height: 650px;
	align-content: center;
	text-align: center;

}
#listaPla{
  color: white;
  display: grid;
  margin-bottom: 0px;

}
#myFooter{
  background-color: #3c3d41;
  background-color: blue;
   background-color: #262626;
   background-color: #2E2E2E;
   padding-top: 30px;
  display: grid;

}
.icones{
  font-size: :30px;
  margin-top: -15px;
  text-align: left;
}
#listaFooter{
  text-decoration: none;
}
.textoPag:hover{
  background-color: black;
}

img#callofduty{
	height: 200px;
	width: 200px;
	text-align: center;
	justify-content: center;
	align-items: center;


}



.top-padrao {
  background-color: #2E2E2E;
  padding: 15px 20px;
  border-radius: 7px 7px 0 0;


}

  .top-padrao {
      padding: 15px 10px;
  }


.tt-padrao {
  font: 30px 'gothBold';
  color: white;
  display: block;
  background-color: red;

}

.full-hidden {
  width: 100%;
  overflow: hidden;
}
.listagem-episodios {
  margin: 30px 0 7px;
  background-color: #262626;


}

.listagem-episodios.top{
  margin: 0px 0 7px;

}

.listagem-episodios .top-padrao{
  background-color: #2E2E2E;
  text-align: center;
  padding:21px;
  border-radius: 0px 0px 15px 15px;
  border: dotted #696969 1px;
  border-block-end-color: transparent;
 


}

.listagem-episodios .tt-padrao {
  background-color: #2E2E2E;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 27px  bold;
  border-radius: 15px 50px 30px 5px;




}

.listagem-episodios > .content {
  padding: 25px;
  background-color: #151719;
  border-radius: 7px 7px 7px 7px;

}

.listagem-episodios.comentarios {
  margin-top: 30px;
  border: solid #151719 0.9px;
}

.comentarios {
  margin-top: 30px;
  margin-left:30px;
  margin-right: 30px;

}
.comentarios1{
  margin-left: 13px;
  margin-right: 5px;
  
}
.pgn-single-episodio{
  margin-top: 15px;
  margin-bottom: 30px;
}
  .col-right.pgn-single-episodio {
    margin: 0;
    text-align: center;
  }

  .left {
  float:left;
  text-align: left;
}


  .right {
  float:right;
  text-align: right;
}
  .box-filtro.left {
    margin: 0 0 10px;
  }

  .visible-lg,
  .hidden-sm,
  .lista-qualidade,
  .lista-servers,
  .lista-qualidade.pgn-interna-episodio,
  .lista-servers.pgn-interna-episodio {
    display: none !important;
  }
    .visible-lg,
  .hidden-md {
    display: none !important;
  }

#legenda{
	background-color: red;
}
#descLegenda{
	background-color: black;
}

#direitos{
  color: white;
}




@media (max-width: 800px) {
    .container {
      padding:0;
      margin-left:5px;
    }

    #fotoconta{

width: 10px;
height: 10px;


}

#direitos{
  font-size: 10px;
}



.comentarios {
  margin-top: 0px;
  margin-left:0px;
  margin-right: 0px;

}
.comentarios1{
  margin-left: 5px;
  margin-right: 0px;
  
}

.h12{
    font-size: 25px;
    text-align: center;

}


.cartao{
  text-align: center;
  
}


.logomobile{
  font-size: 22px;
  text-align: center;

}
.listagem-episodios .tt-padrao {
  background-color: #2E2E2E;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 22px  bold;
  border-radius: 15px 50px 30px 5px;




}
.listagem-episodios .top-padrao{
  background-color: #2E2E2E;
  text-align: center;
  padding:21px;
  border-radius: 0px 0px 15px 15px;
  border: none;


}


    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }

    p{
      font-size: 14px;
    }
    .lead{
      font-size: 14px;
      padding: 0;
      margin-bottom: 19px;
      margin: 1px;

    }
    .tudoEscolha{
      font-size: 16px;
    }
    h6 {
      font-size: 15px;
    }
    .nav-small{
      margin-bottom: 0;
      font-size: 13px;
      text-transform: uppercase;


    }

    .display-6, .display-4{
      font-size: 28px;
    }
    .platinaPills{
      margin-bottom: 5px;
  

}

  .list-group-item{
    font-size: 13px;
  }

  .navBody{
  display:flex;
  margin-left: 2px;
  min-width: 90px;
  font-size: 14px;
}

  .navBody:hover{
  display:flex;
  margin-left: 2px;
  min-width: 90px;
  color:red;
  font-size: 15px;
}


}
