@media (max-width: 900px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
    #fotoconta{

width: 10px;
height: 10px;


}
.fundo{
   border: 2px solid black;

    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
   text-align: center;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-right: 10px;



}




    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }

    p{
      font-size: 14px;
    }
    .lead{
      font-size: 14px;
      padding: 0;
      margin-bottom: 19px;

    }
    .tudoEscolha{
      font-size: 16px;
    }
    h6 {
      font-size: 15px;
    }
    .nav-small{
      margin-bottom: 0;
      font-size: 13px;
      text-transform: uppercase;


    }
    .display-6, .display-4{
      font-size: 28px;
    }
    .platinaPills{
      margin-bottom: 5px;
  

}

  .list-group-item{
    font-size: 13px;
  }


}






@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';



body{

background-color: #F0F0F0;
 
background-position: top center;
  padding: 0;

 
}

@import url(https://fonts.googleapis.com/css?family=Passion+One:900);


.prismix {
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  height: 100px;

  background-image: url('https://4f01b72a6306fc2fac7bb346235d7e131c41e8ba.googledrive.com/host/0B3V4LxM9XSTzR2ZuSzdJN19RVzA/Portfolio/Animatext/images/horizon.png');
  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  overflow: hidden;
    text-align: center;
  vertical-align: middle;

  box-shadow: 0 1px 0 1px rgba(0,0,0,0.2),
      0 2px 5px rgba(0,0,0,0.5);

}
.prismix:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.RainbowPrism {
  display: inline-block;
  margin: 0;

    color:  rgb(30, 15, 60);
  font-family: 'Passion One';
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;
    
  animation: 10s RainbowPrism infinite linear;
    text-shadow:
    0px -6px 6px rgba(255, 200, 200, 0.8),
    -8px -4px 6px rgba(255, 255, 200, 0.9),
    -8px 4px 6px rgba(200, 255, 200, 1.0),
    0px 6px 6px rgba(200, 255, 255, 0.9),
    8px 4px 6px rgba(200, 200, 255, 0.8),
    8px -4px 6px rgba(255, 200, 255, 0.8),
    -1px -1px 1px rgba(255, 255, 255, 0.7),
    1px 1px 1px rgba(50,  50, 50, 0.5);

    animation: .8s shake infinite alternate;

}




@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}


@keyframes RainbowPrism {
  0% {
    text-shadow:
0px -6px  6px rgba(255, 200,  200,  0.8),
-8px  -4px  6px rgba(255, 255,  200,  0.9),
-8px  4px 6px rgba(200, 255,  200,  1.0),
0px 6px 6px rgba(200, 255,  255,  0.9),
8px 4px 6px rgba(200, 200,  255,  0.8),
8px -4px  6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);
      }
  17% {
    text-shadow:
8px -4px  6px rgba(255, 200,  200,  0.8),
0px -6px  6px rgba(255, 255,  200,  0.9),
-8px  -4px  6px rgba(200, 255,  200,  1.0),
-8px  4px 6px rgba(200, 255,  255,  0.9),
0px 6px 6px rgba(200, 200,  255,  0.8),
8px 4px 6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);
      }
  34% {
    text-shadow:
8px 4px 6px rgba(255, 200,  200,  0.8),
8px -4px  6px rgba(255, 255,  200,  0.9),
0px -6px  6px rgba(200, 255,  200,  1.0),
-8px  -4px  6px rgba(200, 255,  255,  0.9),
-8px  4px 6px rgba(200, 200,  255,  0.8),
0px 6px 6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);

      }
  51% {
    text-shadow:
0px 6px 6px rgba(255, 200,  200,  0.8),
8px 4px 6px rgba(255, 255,  200,  0.9),
8px -4px  6px rgba(200, 255,  200,  1.0),
0px -6px  6px rgba(200, 255,  255,  0.9),
-8px  -4px  6px rgba(200, 200,  255,  0.8),
-8px  4px 6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);
      }
  68% {
    text-shadow:
-8px  4px 6px rgba(255, 200,  200,  0.8),
0px 6px 6px rgba(255, 255,  200,  0.9),
8px 4px 6px rgba(200, 255,  200,  1.0),
8px -4px  6px rgba(200, 255,  255,  0.9),
0px -6px  6px rgba(200, 200,  255,  0.8),
-8px  -4px  6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);
      }
  85% {
    text-shadow:
-8px  -4px  6px rgba(255, 200,  200,  0.8),
-8px  4px 6px rgba(255, 255,  200,  0.9),
0px 6px 6px rgba(200, 255,  200,  1.0),
8px 4px 6px rgba(200, 255,  255,  0.9),
8px -4px  6px rgba(200, 200,  255,  0.8),
0px -6px  6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);
      }
  100% {
    text-shadow:
0px -6px  6px rgba(255, 200,  200,  0.8),
-8px  -4px  6px rgba(255, 255,  200,  0.9),
-8px  4px 6px rgba(200, 255,  200,  1.0),
0px 6px 6px rgba(200, 255,  255,  0.9),
8px 4px 6px rgba(200, 200,  255,  0.8),
8px -4px  6px rgba(255, 200,  255,  0.8),
-1px  -1px  1px rgba(255, 255,  255,  0.7),
1px 1px 1px rgba(50,  50, 50, 0.5);
      }
}

.h1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 5vw;
  font-weight: 999;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}





.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.botaoPlatina{
  margin: 3px;
}


.espacoLi{
  padding-top: 4px;
}


#imgPagamento{
  margin-right:10px;
  margin-left: 10px;
}


/* MENU do unlock all, dropdown menu que aparece opcoes da NAVBAR bootstrap*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #343a40;
    background-clip: padding-box;
    border: 4px solid /*rgba(0,0,0,.15)*/;
    border-radius: .25rem;
}

/* os itens do dropdown da navbar, os textos, etc, fundo*/
.dropdown-item {
    display: block;
    width: 90%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 16px;
    text-align: center justify-content;
    color: white;
    text-align: inherit;
    background-color: transparent;
    white-space: nowrap;
    border: 0;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;

    }

.dropdown-item:hover {
    display: block;
    width: 90%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 17px;
    color: #ffffe6;
    text-align: inherit;
    background-color: red;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;

    }


/* mudando o estilo padrão da navbar do bootstrasp*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #f0ffea;
    text-shadow: currentColor;
    font-size: 18px;
    font-style: unset;

}
/* com hover a navbar do bootstrap padrao*/
.navbar-dark:hover .navbar-nav:hover .active:hover>.nav-link:hover, .navbar-dark:hover .navbar-nav:hover .nav-link.active:hover, .navbar-dark:hover .navbar-nav:hover .nav-link:hover.show:hover, .navbar-dark:hover .navbar-nav:hover .show:hover>.nav-link:hover {
    color: white;
    text-shadow: currentColor;
    font-size: 19px;
    font-style: unset;
    background:#0c598e  ;


}

.navbar .current{
  background-color: #0082da;
}

.bg-dark {
    background-color: #343a40!important;
}


.textoNav{
	color: blue;
	border-color: blue;
	outline-color: blue;
}



.fab{
  font-size: 45px;
  opacity: 0.6;
}

.navFab{
  font-size: 25px;
}



.fab:hover {
    opacity: 0.7;
    font-size: 50px;
}


table{
  overflow: scroll;   /* Sempre aparece a barra de rolagem */
  overflow: auto;     /* Automaticamente verifica se precisa da barra */
}
#v-pills-home-tab{
	display: ;
}

.pagamento{
	list-style-position: inside;
}

.jumbPlatina{
	display: block;
	margin-left: 2px;
	min-width: 50px;

}

.jumbValorBo3{
		display: grid;
	margin-left: 2px;
	min-width: 20px;
}


.espacoRespostaDuvida{
    
   margin-left: 17px;
  
   overflow: auto;
}

.preco{
	text-decoration-color: all;
	color: green;
	font-style: oblique;
	font-size: 18px;
	font-weight: bold;

}

.botoes{
	margin: 2px;
}


.margemBotao{

	margin: 15px;
	width: 100px;
}

/*
essa 
, é a nav do body, de perguntas da platina e unlock all, ajustar o hover azul no celular
*/
.navBody{
	display:flex;
	margin-left: 2px;
	min-width: 90px;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;

}
/*
Tamanho e edição dos carrosels, como usei id, tem q fazer pra cada carrosel, certo é usar classe, ai só poe virgula
*/
#fotoconta{
		min-height: 400px;

	height: 520px;
	margin: 0px;

}
#carrossel{
width: 90%;
margin: auto;
}

#carrossels{
width: 90%;
margin: auto;
}

#carrossels2{
width: 90%;
margin: auto;
}

#carrossels3{
width: 90%;
margin: auto;
}
#carrossels4{
width: 90%;
margin: auto;
}
#carrossels5{
width: 90%;
margin: auto;
}


.carousel-control-prev-icon{
	color: red;
}

#carouselExampleIndicators{

width: 90%;
margin: auto;
}
#carouselExampleIndicators:hover{

width: 94%;
margin: auto;
}


.row{
	margin-right: 1px;
}

#navDoMeio{

/*float:left;*/
display: inline-flex;
padding: 10px;
margin: 0px;


}

.imypst{
  padding: 5;
  margin: 10;
}


#mypst{
  background-color: white;
}

.margemPs4{
  margin: 2px;
}
#embaixo{
margin-top: 10px;
}

h1, h4 {
  text-align: center;
  alignment-baseline: center;
  font-family: 'Oswald', Helvetica, sans-serif;

  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey

}

.card{
	width: 300px;
	height: 100%;
	margin: 10px;

	display: inline-block;
	align-content: left;
	text-align: center;
	float: none;
	margin-bottom: 5px;

}



#comentario{
	margin-left: 40px;
	margin-right: 40px;

}

#pagamento{
	margin-left: 4px;
	margin-right: 4px;

}




.alert{

line-height: 18px;
size: 0.1;


}

.card-img-top{
	
	object-fit: cover;
	margin: 14px;
	width: 80%;
    height: 80%;
    display: flex;
	display: inline-block;
 

}

.img-thumbnail{
max-height: 200px;
max-width: 200px;
min-height: 200px;
min-width: 200px;

}

.card-text{
	text-align: left;
	margin: 5px;
}


a{
	margin: 10px;
}
.cartao{
	text-align: center;
	
}
.fundo{
   border: 2px solid black;
   background-image: url("img/fundobo3.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
   text-align: center;
   justify-content: center;
   align-items: center;
   align-content: center;
   



}

.bordaCartao{
  border: 2px solid blue;
}


.comentarios{
margin:5px;

}

@media only screen and (max-width: 767px) {
   .fb-comments {
    width: 100% !important;
   }
.fb-comments iframe[style] {
   width: 100% !important;
  }
.fb-like-box {
   width: 100% !important;
  }
.fb-like-box iframe[style] {
   width: 100% !important;
  }
.fb-comments span {
   width: 100% !important;
  }
.fb-comments iframe span[style] {
   width: 100% !important;
  }
.fb-like-box span {
   width: 100% !important;
  }
.fb-like-box iframe span[style] {
   width: 100% !important;
  }
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



.titulo{
	text-align: center;
}

.foto{
	max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;

}
h1, h4 {
  text-align: center;
  alignment-baseline: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 50px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey

}

#titulos{
	font-size: 30px;
}

.imgs{
	height: 650px;
	align-content: center;
	text-align: center;

}
img#callofduty{
	height: 200px;
	width: 200px;
	text-align: center;
	justify-content: center;
	align-items: center;


}


#legenda{
	background-color: red;
}
#descLegenda{
	background-color: black;
}


